.date {
    position: absolute;
    left: 920px;
    display: none;
}

.hour {
    position: absolute;
    left: 920px;
    display: none;
}

.modality {
    position: absolute;
    left: 830px;
    top: 20px;
    color: coral;
    font-size: 50px;
    font-family: "Segoe Script";
}

.league{
    position: absolute;
    left: 927px;
    top: 80px;
    color:white;
    font-size: 30px;
    text-transform: uppercase;
}