.layout-container{
    z-index: 2;
    position: fixed;
}

.date {
    position: absolute;
    left: 920px;
    display: none;
}

.hour {
    position: absolute;
    left: 920px;
    display: none;
}

.modality {
    position: absolute;
    left: 830px;
    top: 20px;
    color: coral;
    font-size: 50px;
    font-family: "Segoe Script";
}

.league{
    position: absolute;
    left: 927px;
    top: 80px;
    color:white;
    font-size: 30px;
    text-transform: uppercase;
}

.container {
    color: white;
    position: absolute;
    left: 735px;
    top: 230px;
    width: 450px;
    height: 410px;
    display: flex;
    font-size: 20px;
}

.first-player {
    text-align: end;
}

.first-personal-data {
    right: 245px;
    position: absolute;
    line-height: 30px;
}

.first-battle-data {
    position: absolute;
    top: 145px;
    line-height: 36px;
    right: 305px;
}

.second-player {
    position: absolute;
    right: 0px;
}

.second-personal-data {
    position: absolute;
    left: -200px;
    line-height: 30px;
}

.second-battle-data {
    left: -140px;
    position: absolute;
    top: 143px;
    line-height: 36px;
}

.display-subtitle {
    text-transform: uppercase;
    position: absolute;
    left: 175px;
    top: 142px;
    text-align: center;
    line-height: 36px;
}
