.background-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.first-team{

}

.second-team{

}

.first-character{
    height: 1060px;
    width: 318px;
    margin-inline: 5px;
    margin-block: 10px;
}

.second-character{
    height: 1060px;
    width: 318px;
    margin-inline: 5px;
    margin-block: 10px;
}

.third-character{
    height: 1060px;
    width: 318px;
    margin-inline: 5px;
    margin-block: 10px;
}

.fourth-character{
    height: 1060px;
    width: 318px;
    margin-inline: 5px;
    margin-block: 10px;
}
