.input-container {
    display: flex;
    align-items: center;
    margin-block: 6px;
}

.label {
    width: 100px;
}

.input {
    width: 100%;
}

.save-container {
    margin-top: 9px;
    justify-content: flex-end;
}
